body {
  margin: 0;
}

.code-icon {
  margin-left: 15px;
  width: 29px;
  height: 23px;
  background-color: white;
}

.arrow {
  width: 6px;
  height: 6px;
  margin-top: 7px;
  transform: rotate(45deg);
  border-top: 3.5px solid black;
  border-right: 3.5px solid black;
}

.rectangle {
  width: 10px;
  height: 2.5px;
  background-color: black;
  margin-left: 13px;
  animation: blink 2s infinite;
}

.navbar {
  position: fixed;
  width: 100dvw;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  z-index: 3;
  background-color: rgb(230, 230, 226);
  height: 50px;
}


.navbar > h2:hover, .brand > h1:hover, button:hover {
  opacity: 0.5;
}

.navbar > h2 {
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
}

.brand > h1 {
  cursor: pointer;
  font-size: 20px;
}

.brand {
  display: flex;
  justify-content: center;
  margin-right: auto;
  align-items: center;
  gap: 10px;
}

button {
  border-radius: 15px;
  width: 100px;
  height: 30px;
  background-color: rgb(57, 40, 50);
  color: rgb(230, 230, 226);
  margin-right: 30px;
  border: none;
  cursor: pointer;
}

.intro {
  text-transform: capitalize;
  color: rgb(57, 40, 50);
  font-size: 7.5dvw;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  justify-content: center;
}

.intro > .lineOne {
  margin-left: -80px;
}

.intro > .lineTwo {
  margin-left: 30px;
}

.intro > .lineOne, .intro > .lineTwo {
  line-height: 110%;
  overflow: hidden;
}

.intro > .subtitle {
  font-size: calc(0.8dvw + 12px);
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  color: rgb(107, 100, 92);
  
}

.lineOne, .lineTwo {
  display: flex;
}

.intro > .container {
  position: absolute;
  margin-top: 4dvh;
}

.circle {
  background: linear-gradient(rgb(107, 100, 92), rgb(230, 230, 226));
  height: calc(50dvh + 17dvw);
  width: calc(50dvh + 17dvw);
  border-radius: 50%;
}

.bio {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25dvh;
}

.bio > h2 {
  font-size: 5dvw;
  width: 90%;
  color: rgb(57, 40, 50);
}

.about {
  display: flex;
  font-size: 40px;
  padding-top: 20dvh;
  flex-direction: column;
}

.about > h2 {
  text-align: center;
}

.about > .container {
  display: flex;
  height: 75dvh;
  gap: 3dvw;
  margin-left: 25px;
  margin-right: 25px;
}

.container > img {
  width: 50%;
  height: fit-content;
  border-radius: 5px;
}

.text {
  width: 50%;
}

.text > h3 {
  font-size: 3dvw;
  margin-top: 0;
}

.text > p {
  font-size: 2dvw;
}



@keyframes blink {
  9% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  61% {
    opacity: 1;
  }
}