#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

portfolio {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.portfolio > div {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.home {
  background-color: cornflowerblue;
}