body {
  margin: 0;
}

.intro-animation {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  background-color: black;
  height: 100dvh;
  width: 100%;
  z-index: 3;
}

.intro-animation > .container {
  overflow: hidden;
  font-weight: 400;
  margin-left: 35px;
  margin-top: 20px;
}

.container > .name {
  font-size: 4rem;
}

.container > .folio {
  line-height: 40px;
}

.code-icon {
  margin-left: 15px;
  width: 29px;
  height: 23px;
  background-color: white;
}

.arrow {
  width: 6px;
  height: 6px;
  margin-top: 7px;
  transform: rotate(45deg);
  border-top: 3.5px solid black;
  border-right: 3.5px solid black;
}

.rectangle {
  width: 10px;
  height: 2.5px;
  background-color: black;
  margin-left: 13px;
  animation: blink 2s infinite;
}

.navbar {
  position: fixed;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  z-index: 3;
  background-color: rgb(241, 241, 241);
  height: 50px;
}


.navbar > h2:hover, .brand > h1:hover, button:hover {
  opacity: 0.5;
}

.navbar > h2 {
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
}

.brand > h1 {
  cursor: pointer;
  font-size: 20px;
}

.brand {
  display: flex;
  justify-content: center;
  margin-right: auto;
  align-items: center;
  gap: 10px;
}

button {
  border-radius: 15px;
  width: 100px;
  height: 30px;
  background-color: rgb(9, 9, 9);
  color: rgb(241, 241, 241);
  margin-right: 30px;
  border: none;
  cursor: pointer;
}

.intro {
  text-transform: capitalize;
  color: rgb(9, 9, 9);
  font-size: 7.5dvw;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  justify-content: center;
}

/* .intro > .lineOne {
  margin-left: -80px;
} */

/* .intro > .lineTwo {
  margin-left: 30px;
} */

.intro > .lineOne, .intro > .lineTwo {
  line-height: 110%;
  overflow: hidden;
}

.intro > .subtitle {
  font-size: calc(0.8dvw + 12px);
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  color: rgb(107, 100, 92);
  
}

.lineOne, .lineTwo {
  display: flex;
}

.intro > .container {
  position: absolute;
  margin-top: 4dvh;
}

.container > .circle {
  background: linear-gradient(rgb(107, 100, 92), rgb(241, 241, 241));
  height: calc(50dvh + 17dvw);
  width: calc(50dvh + 17dvw);
  border-radius: 50%;
  opacity:0.1
}

.bio {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25dvh;
}

.bio-container {
  display: flex;
  flex-direction: row;
  font-size: 5dvw;
  width: 79%;
  color: rgb(107, 100, 92);
  flex-wrap: wrap;
}

.three, .two, .one {
  display: flex;
}

.about {
  display: flex;
  font-size: 40px;
  padding-top: 20dvh;
  flex-direction: column;
}

.about > .headline-container {
  display: flex;
  margin-left: 8dvw;
  font-weight: 600;
  font-size: 5dvw;
  overflow: hidden;
  color: rgb(110, 110, 85);
  margin-bottom: 5dvh;
}

.about > h2 {
  text-align: center;
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 5dvh;
}

.about > .container {
  display: flex;
  min-height: 75dvh;
  gap: 3dvw;
  margin-left: 8dvw;
  margin-right: 8dvw;
}

.text {
  height: fit-content;
}

.img-container {
  width: 50%;
  min-width: 50%;
  overflow: hidden;
  border-radius: 10px;
  height: fit-content;
}

.img-container > img {
  margin-top: -20%;
}

img {
  object-fit: contain;
  width: 100%;
  height: fit-content;
  border-radius: 10px;
}

h3 {
  font-size: 3.3dvw;
  margin-top: 0;
}

.text > p {
  font-size: 1.75dvw;
  font-weight: 500;
}

.expertise {
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  /* height: 150dvh; */
}

.expertise > * {
  margin-left: 8dvw;
}

.expertise > .headline-container {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 5dvw;
  color: rgb(110, 110, 85);
  overflow: hidden;
}

.container > p {
  margin: 0;
}

.container {
  margin: 2dvh 0;
}

.expertise-info {
  display: flex;
  gap: 7dvw;
}

.expertise-info > * {
  width: 50%;
}

.expertise-list {
  line-height: 1;
  margin-bottom: 20dvh;
}

.expertise-list > p {
  font-size: 4dvw;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 10px;
  color: rgb(110, 110, 85);
  opacity: 0.8;
}

.expertise-text > h3 {
  margin-bottom: 15px;
}

.container > .text-one {
  margin-bottom: 70px;
}

.text-one, .text-two {
  font-size: 1.75dvw;
}

.circle-container {
  position: relative;
}

.expertise-circle {
  background: linear-gradient(rgb(107, 100, 92), rgb(241, 241, 241));
  position: absolute;
  left: 65%;
  transform: translate(-50%, 0);
  height: calc(50dvh + 17dvw);
  width: calc(50dvh + 17dvw);
  border-radius: 50%;
  opacity: 0.1;
}

.projects {
  min-height: 130dvh;
  overflow-x: hidden;
}

.projects > .headline-container {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 5dvw;
  color: rgb(110, 110, 85);
  overflow: hidden;
  margin-left: 8dvw;
  margin-top: calc(9dvh + 100px);
}

.projects-list {
  display: flex;
  width: 400dvw;
  gap: 8dvw;
  text-align: center;
  margin-top: 1dvh;
  margin-left: 8dvw;
}

.project-image {
  width: 90%;
  height: 100%;
  max-height: 65dvh;
}

.project-image-container {
  overflow: hidden;
  background-color: rgb(241, 241, 241);
  height: fit-content;
  min-height: clamp(50dvh, 60dvh, 70dvh);
  border-radius: 10px;
}

.project-title {
  font-size: 30px;
  padding: 20px;
  font-weight: 600;
  text-align: left;
}

a {
  text-decoration: none;
}

a:visited {
  color: rgb(9, 9, 9);
}

.project-tech {
  opacity: 0;
  text-align: left;
  margin-left: 21px;
  margin-bottom: 10px;
  margin-top: -25px;
  position: absolute;
  font-weight: 700;
}

.contact-container {
  margin-left: 8dvw;
  margin-right: 8dvw;
}

/* .contact-container > .container {
  margin-top: calc(0.4dvh - 3px);
} */

.container > .headline-container {
  display: flex;
  overflow: hidden;
  margin-top: 10dvh;
  font-weight: 600;
  font-size: 5dvw;
  color: rgb(110, 110, 85);
}

.email {
  margin-bottom: 2dvh;
  font-size: calc(10px + 0.5dvw);
}

.social-media-icons {
  margin-bottom: 8dvh;
}

.contact-circle {
  position: relative;
  background: linear-gradient(rgb(107, 100, 92), rgb(241, 241, 241));
  height: calc(50dvh + 17dvw);
  width: calc(50dvh + 17dvw);
  border-radius: 50%;
  opacity:0.1;
  margin-top: -90dvh;
  z-index: -1;
  margin-left: 20%;
  transform: translate(-50%);
}

.contact-expertise,
.contact-about,
.contact-projects,
.contact-resume {
  width: 75%;
}
.contact-expertise > div,
.contact-about > div,
.contact-projects > div,
.contact-resume > div {
  font-weight: 700;
  font-size: calc(15px + 1dvw);
}

.contact-expertise > p,
.contact-about > p,
.contact-projects > p,
.contact-resume > p {
  margin-top: 1dvh;
  font-size: calc(10px + 0.75dvw);
}

.contact-container > .container {
  display: flex;
  flex-direction: column;
}

.social-media-icons {
  display: flex;
  gap: 10px;
}

.summary-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3dvw;
}

.contact-expertise, .contact-resume {
  justify-self: right;
}

.copyright {
  margin-top: 10dvh;
  margin-bottom: 5dvh;
  font-size: calc(10px + 0.5dvw);
}

@keyframes blink {
  9% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  61% {
    opacity: 1;
  }
}